.message_card
{
    padding: 10px;
    margin:10px;
    width: fit-content;
}

.message_usercard{
    background-color: #0084FF;
    color: #fff;
    text-align: right;
   
    
}

.message_guestcard{
    background-color: #f1f0f0;
    color: black;
    text-align: left;
   
}

.message
{
    margin-top: 1px;
    margin-right: 0px;
    margin-bottom: 1px;
    margin-left: 0px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.34;
    font-size: 15px;
    text-align: right;
}

.messageBox {
	position: relative;
    z-index : -1
}